<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <title>Browse the Stacks</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'browse_index', 'data-turbolinks-track' => true %>

  <style>

    .stackview .ribbon {
      position: absolute;
      visibility: hidden;
    }

    .active-item {
      margin-left: 20px;
    }

    #previewPanel {
      border-color: #7a1313;  /* dark red */
      border-width: 5px;
      border-style: solid;
      background-color: beige;
      margin-top: 160px;
      margin-right: 60px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      position: fixed;
      top: 200;
      left: 70%;
      z-index: 100;
      opacity: .8;
    }

    h3#previewTitle {
      font-size: 2vw;
    }

    .banner {
      position: fixed;
      z-index: 100;
      background-color: white;
      padding-left: 80px;
    }

    h2#bannerTitle {
      font-family: Futura,Trebuchet MS,Arial,sans-serif;
      font-size: 50px;
    }

    .stack-navigation {
      top: 0;
      position: fixed;
      left: 190%;
    }

    #content {
      margin-left: -75px;
    }

    .spine-title, .stack-serial .spine-title, .stack-videofilm .spine-text {
      font-size: 18px;  /* 1.2em works for all except videofilm */
      font-weight: normal;
    }

    /*
     * ---------------------------------
     * Other colors that we could change
     * ---------------------------------

    .heat2 .stack-cover {
      border-color: black;
      background: yellow;
    }

    .heat2 .stack-pages {
      border-color: red;
    }

    .heat2 a {
      background-color: green;
      color: white !important;
      text-shadow: 0 1px 0 brown;
      border-color: purple;
    }

    .heat2 a:hover {
      color: orange;
    }

    .heat2 .serial-edge {
      background-color: red;
      border-color: blue;
    }

    .stack-items a:focus {
      background: #b5d1ff;
      outline-color: red;
    }

    * ---------------------------------
    */
  </style>
</head>

<body>

  <!-- top panel: general info -->
  <div class="banner">
    <img src="https://www.brown.edu/sites/default/themes/pawtuxet/img/brown-logo.png"
      style="position: absolute; left: 10px; top: 20px;"/>
    <h2 id="bannerTitle">StackLife</h2>
    <p>Welcome to the stacks. Use this page to explore items (books, DVDs,
      serials) that are the shelf. Click <%= link_to("here", browse_about_path) %>
      to learn more about it.
      <br/></p>
  </div>


  <span id="initialID" class="hidden"><%= id %></span>
  <!-- we use these to reset the values via JavaScript -->
  <%= image_tag("sampleCover.png", {id: "previewImageNone", class: "hidden"})%>
  <%= image_tag("placeholder.gif", {id: "previewImageLoading", class: "hidden"})%>


  <!-- middle panel: virtual stack -->
  <div id="content" class="col-md-12">

    <!-- book preview panel: book details -->
    <div id="previewPanel" class="hidden">
      <h3 id="previewTitle"></h3>
      <h4 id="previewAuthor"></h4>
      <div>
        <span id="previewImprint"></span>
      </div>
      <div><p>&nbsp;</p></div>
      <div>
        <a id="previewLinkImage" href="" target="_blank">
          <%= image_tag("sampleCover.png", {id: "previewImage", style: "border: 1px solid; width: 116px; height: 173px;"})%>
        </a>
      </div>
      <div><p>&nbsp;</p></div>
      <div>
        <a id="previewLink" href="" target="_blank"
        title="View full information about this item including availability and how to check it out.">View the full record</a>
      </div>
    </div>

    <div id="basic-stack"></div>
  </div>


  <script>
    var josiahRootUrl = '<%= root_url %>';

    setTimeout(function() {
      // TODO: Figure out the correct li to focus on.
      var li = $(".stack-item>a")[12];
      $('.active-item').removeClass('active-item');
      $(li).addClass('active-item');
      $(li).click();
      $(li).focus();
    }, 500);

  </script>
</body>
